/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Kensea Jordan
   Date:   10/15/2025
   
   Filename: pc_specials.css

*/

/* Page Body Styles */

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin: 0 auto;
}


/* Image Styles */

img {
   width: 100%;
}


/* Horizontal Navigation Styles */

nav ul li {
   display: inline-block;
   float: left;
   width: 16.66%;
}


/* Grid Styles */

body {
   display: grid;
   grid-template-columns: 2fr 1fr;
   column-gap: 20;
}

header, footer {
   grid-column: 1 / -1;
}

section#sub {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}


/* Specials Styles */

div.specials {
   min-height: 400;
   outline: 1px dashed rgb(71, 52, 29)
}

/* Award Styles */

aside {
   position: relative;
   height: 650px;
   overflow: auto;
}

aside div {
   position: absolute;
   width: 30%;
}

#award1 {
   position: absolute;
   top: 80px;
   left: 5%;
}

#award2 {
   position: absolute;
   top: 280px;
   left: 60%;
}

#award3 {
   position: absolute;
   top: 400px;
   left: 20%;
}

#award4 {
   position: absolute;
   top: 630px;
   left: 45%;
}

#award5 {
   position: absolute;
   top: 750px;
   left: 5%;
}
